[submodule "Walnut"]
	path = Walnut
	url = https://github.com/TheCherno/Walnut
[submodule "RayTracing/src/libs/mINI"]
	path = RayTracing/src/libs/mINI
	url = https://github.com/pulzed/mINI.git
[submodule "RayTracing/src/libs/stb"]
	path = RayTracing/src/libs/stb
	url = https://github.com/nothings/stb.git
[submodule "RayTracing/src/libs/nativefiledialog-extended"]
	path = RayTracing/src/libs/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
